
<div class="container-fluid">
  <h2 class="text-center">Make a new Menu</h2>

<div class="container">
  <h2>Add a new Menu</h2>

  <hr>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit) = 'submitMenu()' #menuForm = 'ngForm'>
        <div class="form-group">
          <label for="shop name">Menu name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]= "newMenu.name" #name = "ngModel" required>

        </div>
        <!-- <div class="form-group">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" cols="50" rows="9" [(ngModel)]="newShop.description" #description = 'ngModel' required></textarea>
        </div> -->
        <button type="submit" class="btn btn-primary">Add menu</button>
      </form>
    </div>
</div>
