<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>Manage Cuisines</h3>

                <button>See all <span class="las la-arrow-right"></span></button>
            </div>
            <div class="card-body">
                <div class="table-reponsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Project Title</td>
                                <td>Department</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>UT/UX Design</td>
                                <td>Ut team</td>
                                <td>
                                    <span class="status purple"></span>review
                                </td>
                            </tr>
                            <tr>
                                <td>Web development</td>
                                <td>Frontend</td>
                                <td>
                                    <span class="status pink"></span> in progress
                                </td>
                            </tr>
                            <tr>
                                <td>Ushop app</td>
                                <td>Mobile Team</td>
                                <td>
                                    <span class="status orange"></span>pending
                                </td>
                            </tr>
                            <tr>
                                <td>UT/UX Design</td>
                                <td>Ut team</td>
                                <td>
                                    <span class="status purple"></span>review
                                </td>
                            </tr>
                            <tr>
                                <td>Web development</td>
                                <td>Frontend</td>
                                <td>
                                    <span class="status pink"></span> in progress
                                </td>
                            </tr>
                            <tr>
                                <td>Ushop app</td>
                                <td>Mobile Team</td>
                                <td>
                                    <span class="status orange"></span>pending
                                </td>
                            </tr>
                            <tr>
                                <td>UT/UX Design</td>
                                <td>Ut team</td>
                                <td>
                                    <span class="status purple"></span>review
                                </td>
                            </tr>
                            <tr>
                                <td>Web development</td>
                                <td>Frontend</td>
                                <td>
                                    <span class="status pink"></span> in progress
                                </td>
                            </tr>
                            <tr>
                                <td>Ushop app</td>
                                <td>Mobile Team</td>
                                <td>
                                    <span class="status orange"></span>pending
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="customers">
        <div class="card">
            <div class="card-header">
                <h3>New Cuisine</h3>

                <button>See all <span class="las la-arrow-right"></span></button>
            </div>
            <div class="card-body">
                <div class="customer">
                    <div class="info">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="40px" height="40px" alt="">
                        <div>
                            <h4> Lewis casper steven</h4>
                            <small>CEO excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>

                <div class="customer">
                    <div class="info">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="40px" height="40px" alt="">
                        <div>
                            <h4> Lewis casper steven</h4>
                            <small>CEO excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="40px" height="40px" alt="">
                        <div>
                            <h4> Lewis casper steven</h4>
                            <small>CEO excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>
                <div class="customer">
                    <div class="info">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="40px" height="40px" alt="">
                        <div>
                            <h4> Lewis casper steven</h4>
                            <small>CEO excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>

                <div class="customer">
                    <div class="info">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="40px" height="40px" alt="">
                        <div>
                            <h4> Lewis casper steven</h4>
                            <small>CEO excerpt</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
