<div class="sidebar-menu">
    <ul>
        <li>
            <a routerLink="/home" class="active"><span class="las la-igloo"></span><span>Dashboard</span></a>
        </li>
        <li>
            <a routerLink="/menu"><span class="las la-shopping-bag"></span><span>Manage Menu</span></a>
        </li>
        <li>
            <a routerLink="/cuisines"><span class="las la-receipt"></span><span>Manage Cusines</span></a>
        </li>
        <li>
            <a routerLink="/orders"><span class="las la-clipboard-list"></span><span>Manage Orders</span></a>
        </li>
        <li>
            <a routerLink="/waiters"><span class="las la-users"></span><span>Manage Waiters</span></a>
        </li>
        
        
       
        <!-- <li>
            <a routerLink="/orderType"><span class="las la-user-circle"></span><span>Order Types</span></a>
        </li>
        <li>
            <button (click)="logout()"><span class="las la-clipboard-list"></span><span>Log Out</span></button>
        </li> -->
    </ul>
</div>
