<header>
    <h2>
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label>Dashboard
    </h2>
    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Search here">
    </div>

    <div class="user-wrapper">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="30px" height="30px" alt="">
        <div>
            <h4>Odero Oluoch</h4>
            <small>Shop Owner</small>
        </div>
    </div>
</header>