<div>
  <h1>menu</h1>
  <hr>
  <ul>
    <div class="row">
      <div class="col-md-5">
        <div *ngFor="let menu of menus, let i = index">
          <div class="card">
            <div class="card-body">
              <div>

                <h4 id= {{i}}>{{menu.name}}</h4>
              </div>

      
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body" *ngFor="let menu of menus, let i = index">

        </div>

      </div>

      <div class="col-md-6">
        <app-menu-form (addMenu)="addNewMenu($event)"></app-menu-form>
      </div>
    </div>
  </ul>
</div>
