<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>Manage Orders</h3>
            </div>
            <div class="card-body">
                <div class="table-reponsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Serving Waiter</td>
                                <td>Order ID</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Vivian Anyango</td>
                                <td>#0034S</td>
                                <td>
                                    <span class="status pink"></span>Completed
                                </td>
                            </tr>
                            <tr>
                                <td>Vivian Anyango</td>
                                <td>#0034S</td>
                                <td>
                                    <span class="status orange"></span>Serving
                                </td>
                            </tr>
                            <tr>
                                <td>Vivian Anyango</td>
                                <td>#0034S</td>
                                <td>
                                    <span class="status purple"></span>unpaid
                                </td>
                            </tr>
                            <tr>
                                <td>Vivian Anyango</td>
                                <td>#0034S</td>
                                <td>
                                    <span class="status purple"></span>Cancelled
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="customers">
        <div class="card">
            <div class="card-header">
                <h3>Order Detail</h3>
            </div>
            <div class="card-body">
                <div class="customer">
                    <div class="info">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.incimages.com%2Fuploaded_files%2Fimage%2F970x450%2Fgetty_482141135_47013.jpg&f=1&nofb=1" width="40px" height="40px" alt="">
                        <div>
                            <h4>Dummy Detail</h4>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="las la-user-circle"></span>
                        <span class="las la-comment"></span>
                        <span class="las la-phone"></span>
                        <div class="card-header">
                            <button>Update</button>
                        </div>
                        <div class="card-header">
                            <button>Serve </button>
                        </div>
                        <div class="card-header">
                            <button>Cancel </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




